
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

h1 {
  text-align: center;
  margin-top: 30px;
  color: #333;
}

form {
  max-width: 500px;
  margin: auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

form label {
  display: block;
  margin-bottom: 10px;
  color: #666;
  font-size: 16px;
}

form input[type="text"],
form input[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  transition: box-shadow 0.2s ease-in-out;
}

form input[type="text"]:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

form input[type="submit"] {
  background-color: #333;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  border-radius: 5px;
}

form input[type="submit"]:hover {
  background-color: #555;
}

.message-box {
  border-color: black;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  background-color: whitesmoke;
  height: 80vh;
  display: flex;
  flex-direction: column;
  width: 80vw;
  align-items: stretch;
}

.messages {
  overflow-y: scroll;
  flex: 1;
  width: 100%;
  font-size: 20px;
}

.inputs {
  padding: 10px;
  display: flex;
  
}

h2 {
  text-align: center;
}

#message {
  flex: 1;
  font-size: 20px;
}

.textl {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
}

.muted {
  font-size: 10px;
  color: darkgray;
}